.arttitleVF {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 13px;
}

.DESVF {
    font-size: 37px;
    color: white;
    padding-left: 55px;
    text-align: justify;
    padding-right: 78px;
}

